site-lisp/schema/langpack.rnc

# ==================================
# The DTD for IzPack Languages Packs 
# ==================================

# The root element

langpack = element langpack { attlist.langpack, str+ }
attlist.langpack &= empty
# A String definition
str = element str { attlist.str, text }
attlist.str &= attribute id { text }
attlist.str &= attribute txt { text }
start = langpack
